version: '3.3'

services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8200:80"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: app
      DB_USERNAME: User
      DB_PASSWORD: p4ssw0rd

  db:
    image: mariadb
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: p4ssw0rd
      MYSQL_DATABASE: app
      MYSQL_USER: User
      MYSQL_PASSWORD: p4ssw0rd
    volumes:
      - ./database:/docker-entrypoint-initdb.d


        